@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --dark_gray: #2B2B2B;
    --mid_gray: #44474A;
    --gray: #808080;
    --light_gray: #A9B7C6;
    --blue: #287BDE;
    --orange: #CC7832;
    --yellow: #FFC66D;
    --green: #629755;
    --smooth_green: #485848;
    --purple: #9876AA;
    --red: #BC3F3C;
}

body {
    background-color: #4B67C4;
    height: 100%;
}

h1 {
    color: var(--orange);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form p, .form h1 {
    padding: 2px;
    margin: 2px;
}

.form-handler{
    padding: 5px;
    margin: 0;
    gap: 3px;
}

.send_button {
    min-width: 100px;
    padding: 10px;
    font-size: 75%;
    background-color: #E92323;
    border-radius: 5%;
    cursor: pointer;
}

.send_button:hover {
    background-color: var(--light_gray);
    border-radius: 5%;
}

.error {
    color: var(--red);
}

table {
    width: 98%;
    table-layout: inherit;
    border: 1px solid var(--light_gray);
    border-radius: 5px;
}

table, th, td {
    pandding: 5px;
}

th, td {
    padding: 2px;
    text-align: left;
    border-radius: 5px;
}

.positionTHTD {
    padding: 10px;
    text-align: left;
    padding-right: 5px;
}

th {
    background-color: #4B67C4;
}

tr:nth-child(odd) {
    background-color: #4B67C4;
}

.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #4B67C4;
    color: black;
    display: flex;
    padding: 8px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
    border-radius:5px;
}

.vertical-menu a.active {
    background-color: #585899;
    color: white;
    border-radius:5px;
}

.vertical-menu a.activeLogout {
    background-color: #585899;
    color: white;
    border-radius:5px;
}

.vertical-menu a.highlights {
    padding: 8px;
    border-bottom: 5px solid #6381CC;
}

.vertical-menu a.toplights {
    padding: 8px;
    border-top: 5px solid #5177E0;
}

header {
    background-color: #4B67C4;
    padding: 3px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.row {
    width: 95%;
    padding: 0rem;
    display: flex;
    flex-direction: row;
}

.left {
    flex: 15%;
    padding: 5px 0;
    background-color:#4B67C4;
}

.left h2 {
    padding-left: 8px;
}

.right {
    flex: 85%;
    padding: 10px;
    background-color:#6381CC;
    border-collapse: collapse;
    border-radius: 10px;
}

a.selected {
    background-color: #E92323;
    color: white;
    border-radius:5px;
}

.vertical-menu span {
    background-color: #6381CC;
    color: black;
    display: flex;
    padding: 8px;
    text-decoration: none;
    border-radius:5px;
}

.vertical-menu span.highlights {
    padding: 8px;
    border-bottom: 5px solid #585899;
}

span.selected {
    background-color: #E92323;
    color: white;
    border-radius:5px;
}

li {
    padding-left: 2px;
}