<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualnetsalary</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h2 data-th-text="${page}"></h2>
</header>
<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>
    <div class="right">
<h1 data-th-text="${e.name}"></h1>

<form class="form" data-th-action="@{/actualnetsalary/{taxnumber}(taxnumber=${e.taxNumber})}" data-th-object="${monthlyData}" method="post">

    <table class="positionTHTD">

        <tr>
            <th>SELECT YEAR</th>
            <th>SELECT MONTH</th>
            <th>Working days</th>
            <th>Paid leave</th>
            <th>Sick leave</th>
            <th>Illness benefit</th>
        </tr>

        <tr>
            <td>
                <select class="form-handler" data-th-name="year">
                    <option data-th-each="year: ${years}"
                            data-th-value="${year}"
                            data-th-text="${year}">
                    </option>
                </select>
            </td>

            <td>
                <select class="form-handler" data-th-name="month">
                    <option data-th-each="month: ${monthes}"
                            data-th-value="${month}"
                            data-th-text="${month}">
                    </option>
                </select>
            </td>
            <td>
                <input class="form-handler" type="number" data-th-field="*{workingDays}" required /></td>
            <td>
                <input class="form-handler" type="number" data-th-field="*{paidLeave}" required /> </td>
            <td>
                <input class="form-handler" type="number" data-th-field="*{sickLeave}" required /> </td>
            <td>
                <input class="form-handler" type="number" data-th-field="*{illnessBenefit}" required /> </td>
            <td>
                <input class="form-handler"  type="submit" value="Calculate net salary"/> </td>
            <td data-th-text="${#numbers.formatInteger(money,3,'WHITESPACE') + ' Ft '}"></td>


        </tr>

    </table>

</form>


     <button class="send_button">
            <a data-th-href="@{/payroll}">Back Employee data sheet</a>
        </button>
        <button class="send_button">
            <a data-th-href="@{/payroll}">Back payroll</a>
        </button>

    </div>
</div>
</body>
</html>