<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualnetsalary</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div th:replace="~{fragments/navigation :: navigation}"></div>
</header>

<h1 data-th-text="${e.name}"></h1>

<form class="form" data-th-action="@{/actualnetsalary/{taxnumber}(taxnumber=${e.taxNumber})}" data-th-object="${monthlyData}" method="post">

    <table>

        <tr>
            <th>Working days</th>
            <th>Paid leave</th>
            <th>Sick leave</th>
            <th>Illness benefit</th>
        </tr>

        <tr>
            <td>
                <input type="number" data-th-field="*{workingDays}" required /></td>
            <td>
                <input type="number" data-th-field="*{paidLeave}" required /> </td>
            <td>
                <input type="number" data-th-field="*{sickLeave}" required /> </td>
            <td>
                <input type="number" data-th-field="*{illnessBenefit}" required /> </td>
            <td>
                <input type="submit" value="Calculate net salary"/> </td>
            <td data-th-text="${#numbers.formatInteger(money,3,'WHITESPACE') + ' Ft '}"></td>


        </tr>

    </table>


</form>




</body>
</html>