<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${oneEmployee.name}"></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h2 data-th-text="${page}"></h2>
</header>
<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>
    <div class="right">
<p>Employee data sheet</p>


<table style="table-layout: fixed; word-wrap: break-word; overflow-wrap: break-word;">
    <tr>
        <th>Tax Number</th>
        <th>Name</th>
        <th>Maiden Name</th>
        <th>Social Security Number</th>
        <th>Place of Birth</th>
        <th>Date of Birth</th>
        <th>Mother name</th>
    </tr>

    <tr>
        <td data-th-text="${oneEmployee.taxNumber}"></td>
        <td data-th-text="${oneEmployee.name}"></td>
        <td data-th-text="${oneEmployee.maidenName}"></td>
        <td data-th-text="${oneEmployee.socialSecurityNumber}"></td>
        <td data-th-text="${oneEmployee.placeOfBirth}"></td>
        <td data-th-text="${oneEmployee.dateOfBirth}"></td>
        <td data-th-text="${oneEmployee.motherName}"></td>
    </tr>
</table>
<table style="table-layout: fixed; word-wrap: break-word; overflow-wrap: break-word;">
    <tr>
        <th>Address</th>
        <th>Personnel Group</th>
        <th>Role</th>
        <th>Start of employment</th>
        <th>HSCO (FEOR)</th>
        <th>Working hours</th>
        <th>Gross salary</th>
    </tr>
    <tr>
        <td data-th-text="${oneEmployee.address}"></td>
        <td data-th-text="${oneEmployee.personnelGroup}"></td>
        <td data-th-text="${oneEmployee.personnelTask}"></td>
        <td data-th-text="${oneEmployee.startOfEmployment}"></td>
        <td data-th-text="${oneEmployee.HSCO}"></td>
        <td data-th-text="${oneEmployee.workingHours}"></td>
        <td data-th-text="${oneEmployee.grossSalary}"></td>
    </tr>
</table>

    </div>
</div>
</body>
</html>