<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add ingredients to BomList</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h2 data-th-text="'Add ingredient to BomList'"></h2>
</header>
<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>
    <div class="right">

<div class="form">

    <form data-th-if="${#lists.size(ingredients) != 0}" class="form" action="#" data-th-action="@{/addingredient}" data-th-object="${bomlist}" method="post">
        <fieldset>
            <label for="ingredient">Ingredient</label>
            <select id="ingredient" name="ingredientId" required>
                <option data-th-each="ingredient: ${ingredients}"
                        data-th-value="${ingredient.id}"
                        data-th-text="${ingredient.name}">
                </option>
            </select>
        </fieldset>
        <input style="display: none;" name="bomlistId" data-th-value="${bomlist.id}"/>
        <input class="add_button" type="submit" id="submitButton" th:value="Add">
    </form>

    <p>BOMList current ingredients:</p>
    <ul>
        <div data-th-each="ingredient: ${bomlist.ingredients}">
            <li data-th-text="${ingredient.name}"></li>
        </div>
    </ul>
    <a data-th-href="@{/bomlists}"><button class="send_button">Finish</button></a>
</div>
    </div>
</div>
</body>
</html>