<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add rawmaterials to ShippingIn</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
  <h2 data-th-text="'Add rawmaterials to ShippingIn'"></h2>
</header>
<div class="row">
  <div class="vertical-menu">
    <div class="left">
      <div th:replace="~{fragments/navigation :: navigation}"></div>
    </div>
  </div>
  <div class="right">

    <div class="form">

      <form class="form" action="#" data-th-action="@{/addrawmaterial}" data-th-object="${rawMaterial}" method="post">
        <label for="ingredient">Ingredient</label>
        <select id="ingredient" name="ingredientId" required>
          <option data-th-each="ingredient: ${ingredients}"
                  data-th-value="${ingredient.id}"
                  data-th-text="${ingredient.name}">
          </option>
        </select>
        <label for="sarzs">SARZS</label>
        <input id="sarzs" placeholder="SARZS" type="number" data-th-field="*{SARZSNumber}" autofocus required>
        <label for="unitPrice">Unit Price</label>
        <input id="unitPrice" placeholder="Price" type="number" data-th-field="*{unitPrice}" required>
        <label for="quantity">Quantity</label>
        <input id="quantity" placeholder="Quantity" type="number" data-th-field="*{quantity}" required>
        <input style="display: none;" name="shippingInId" data-th-value="${shippingIn.id}"/>
        <button class="add_button" type="submit">Add</button>
      </form>

      <p>Shipping in current rawmaterials:</p>
      <ul>
        <div data-th-each="rawmaterial: ${shippingIn.rawMaterials}">
          <li data-th-text="${rawmaterial.ingredient.name}"></li>
        </div>
      </ul>
      <a data-th-href="@{/shippingins}"><button class="send_button">Finish</button></a>
    </div>
  </div>
</div>
</body>
</html>