<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add rawmaterials to ShippingIn</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
  <h2 data-th-text="'Add rawmaterials to ShippingIn'"></h2>
</header>
<div class="row">
  <div class="vertical-menu">
    <div class="left">
      <div th:replace="~{fragments/navigation :: navigation}"></div>
    </div>
  </div>
  <div class="right">

<div class="form">
  <h1 data-th-text="'Add rawmaterials to ShippingIn'"></h1>

  <form class="form" action="#" data-th-action="@{/addrawmaterial}" data-th-object="${shippingIn}" method="post">
    <fieldset>
      <label for="rawmaterial">Rawmaterial</label>
      <select id="rawmaterial" name="rawmaterialId">
        <option data-th-each="rawmaterial: ${rawMaterials}"
                data-th-value="${rawmaterial.id}"
                data-th-text="${rawmaterial.ingredient.name}">
        </option>
      </select>
    </fieldset>
    <input style="display: none;" name="shippingInId" data-th-value="${shippingIn.id}"/>
    <input type="submit" id="submitButton" th:value="Add">
  </form>

  <p>Shipping in current rawmaterials:</p>
  <ul data-th-each="rawmaterial: ${shippingIn.rawMaterials}">
    <li data-th-text="${rawmaterial.ingredient.name}"></li>
  </ul>
</div>
  </div>
</div>
</body>
</html>