<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BOMLists page</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
  <h2 data-th-text="${page}"></h2>
</header>
  <div class="row">
    <div class="vertical-menu">
      <div class="left">
        <div th:replace="~{fragments/navigation :: navigation}"></div>
      </div>
    </div>
    <div class="right">

        <form data-th-action="@{/bomlists}" data-th-object="${form}" method="post">
          <table>
            <tr>
              <h2>Search</h2>
            </tr>
            <tr>
              <th>Search by name:</th>
              <td><input type="text" data-th-field="*{name}" /></td>
            </tr>
            <tr>
              <th>Search by produced product name:</th>
              <td><input type="text" data-th-field="*{producedProduct}" /></td>
            </tr>
            <tr>
              <th>Search by ingredient:</th>
              <td><input type="text" data-th-field="*{ingredient}" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Search</button></td>
            </tr>
          </table>
        </form>
      <br>
      <a data-th-href="@{/newbomlist}"><button class="send_button">Create new Bomlist</button></a>

        <table>
          <tr>
            <h2>List of BOM lists</h2>
          </tr>
          <tr>
            <th>BOM list name</th>
            <th>Product</th>
            <th>Ingredient</th>
          </tr>
            <tr data-th-each="bomlist: ${bomlists}">
              <td data-th-text="${bomlist.name}"></td>
              <td data-th-text="${bomlist.producedProduct.name}"></td>
              <td><ul data-th-each="ingredient: ${bomlist.ingredients}">
              <li data-th-text="${ingredient.name}"></li></ul></td>
            </tr>
        </table>

      </div>
    </div>
</body>
</html>