<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<header>
    <h2>Employee data sheet</h2>
    <h2 data-th-text="${page}"></h2>
</header>
<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>
    <div class="right">

<table style="table-layout: fixed; word-wrap: break-word; overflow-wrap: break-word;">
    <tr>
        <th>Tax Number</th>
        <th>Name</th>

    </tr>

    <tr style="color: black" data-th-each="e : ${employees}">
        <td ><a data-th-text="${e.taxNumber}" data-th-href="@{/employees/{taxnumber}(taxnumber=${e.taxNumber})}"></a></td>
        <td data-th-text="${e.name}"></td>
    </tr>
</table>

<br/>
<a data-th-href="@{/newemployee}"><button class="send_button">ADD NEW EMPLOYEE</button></a>
    </div>
</div>
</body>
</html>