<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add ingredients to BomList</title>
    <link rel="stylesheet" href="/style.css">
</head>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
        * {
            font-family: 'Montserrat', sans-serif;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>Something went wrong...</h1>
    <br/>
    <h2 data-th-text="'Error code: ' + ${code}"></h2>
    <br/>
    <h2> but don't worry we got you...</h2>
    <br/>

    <iframe width="696" height="522" src="https://www.youtube.com/embed/a0fkNdPiIL4" title="Benny Benassi - Satisfaction" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>