<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finance</title>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
<header>
    <h2 data-th-text="${page}"></h2>
</header>
<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>
    <div class="right">

<input type="submit" value="INCOME">
<input type="submit" value="COST">
    </div>
</div>
</body>
</html>