<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingredients page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div th:replace="~{fragments/navigation :: navigation}"></div>
</header>
<h1 data-th-text="${page}"></h1>
<form data-th-action="@{/ingredients}" data-th-object="${form}" method="post">
    <table>
        <tr>
            <th>Search by name:</th>
            <td><input type="text" data-th-field="*{name}" /></td>
        </tr>
        <tr>
            <th>Search by BOM list:</th>
            <td><input type="text" data-th-field="*{bomList}" /></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Search</button></td>
        </tr>
    </table>
</form>

<table style="table-layout: fixed; word-wrap: break-word; overflow-wrap: break-word;">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>BOM List</th>
        <th>SARZS Number</th>
        <th>Quantity</th>
        <th>Unit</th>
    </tr>
    <tr data-th-each="ingredient: ${ingredients}">
        <td data-th-text="${ingredient.name}"></td>
        <td data-th-text="${ingredient.description}"></td>
        <td data-th-if="${ingredient.bomList} != null" data-th-text="${ingredient.bomList.name}"></td>
        <th:block data-th-each="raws: ${ingredient.rawMaterial}">
            <td data-th-text="${raws.SARZSNumber}"></td>
            <td data-th-text="${raws.quantity}"></td>
        </th:block>
        <td data-th-text="${ingredient.unit}"></td>
    </tr>
</table>

</body>
</html>