<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>January payroll</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<table style="table-layout: fixed; word-wrap: break-word; overflow-wrap: break-word;">
    <tr>
        <th>Name</th>
        <th>Working days</th>
        <th>Paid leave</th>
        <th>Illness benefit</th>

    </tr>


    <tr>

        <input id="taxNumber" type="number" data-th-field="*{taxNumber}">

    </tr>
</table>
</body>
</html>