<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/login_style.css">
</head>

<body>


<li sec:authorize="isAuthenticated()">
    <a data-th-href="@{/logout}">Logout</a>
</li>
<li sec:authorize="!isAuthenticated()">
    <a data-th-href="@{/login}">Login</a>
</li>
<li>
    <a data-th-href="@{/register}">Registry</a>
</li>

        <div class="rectangleDarkBlue">
            <div class="rectangleRed">
                <h1>Login :)</h1>
                <p data-th-if="${loginError}" class="error">Bad username or password.</p>
            </div>
            <div class="form">
                <form class="form" data-th-action="@{/login}" method="post">
                    <input type="text" data-th-name="username" placeholder="username">
                    <input type="password" data-th-name="password" placeholder="password">
                    <input class="send_button" type="submit" value="Send">
                </form>
             </div>
        </div>

</body>

</html>