<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/login_style.css">
</head>

<body>
    <header>
        <h2>Welcome to Progmatic's Enterprise Management System</h2>
        <h2 data-th-if="${loginError}" class="error">Bad username or password.</h2>
    </header>

    <div class="container" id="container">
         <div class="form-container sign-in-container">
             <form data-th-action="@{/login}" method="post">
                 <h1>Sign in</h1>
                 <input type="text" data-th-name="username" placeholder="USERNAME" />
                 <input type="password" data-th-name="password" placeholder="Password" />
                 <button>Sign In</button>
             </form>
         </div>
         <div class="overlay-container">
             <div class="overlay">
                 <div class="overlay-panel overlay-right">
                     <h1>Hello, Friend!</h1>
                     <p>If you don't have a login ID yet, please find the company admin.</p>
                     <br />
                     <button class="ghost">Cheers</button>
                 </div>
             </div>
         </div>
    </div>

    <footer>
         <p>
             Created <i class="fa fa-heart"></i> by ERP Team - Progmatic
         </p>
    </footer>

     <script>
         const signInButton = document.getElementById('signIn');
         const container = document.getElementById('container');
         signUpButton.addEventListener('click', () => {
             container.classList.add("right-panel-active");
         });
         signInButton.addEventListener('click', () => {
             container.classList.remove("right-panel-active");
         });
     </script>

 </body>
 </html>