<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/main_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<body>
<header>
    <h2>Progmatic Company management system</h2>
    <h1>Until the 3rd quarter of 2022</h1>
</header>

<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>

    <div class="right">
        <div class="main-container">

            <div class="box5">
                <h2 class="hposi">Sold products</h2>
                <table>
                    <tr>
                        <th>Products name</th>
                        <th>Number of products sold</th>
                    </tr>
                        <td data-th-text="Motorblokk"></td>
                        <td data-th-text="450"></td>
                    <tr>
                        <td data-th-text="Bicikliváz"></td>
                        <td data-th-text="500"></td>
                    </tr>
                    <tr>
                        <td data-th-text="Lemezradiátor"></td>
                        <td data-th-text="1500"></td>
                    </tr>
                    <tr>
                        <td data-th-text="Vaskapu"></td>
                        <td data-th-text="750"></td>
                    </tr>
                </table>
            </div>
            <div class="box5"
                 id="circleChart" style="width:100%; max-width:500px; height:310px;">
            </div>

        <div class="box1">
            <h2 class="hposi">Revenue figures</h2>
            <table id="customers">
                <tr>
                    <th>Product </th>
                    <th>2019</th>
                    <th>2020</th>
                    <th>2021</th>
                    <th>SUM</th>
                        <tr>
                            <td data-th-text="Motorblokk"></td>
                            <td>10.000 euro</td>
                            <td>20.000 euro</td>
                            <td>35.000 euro</td>
                            <td class="tdstyle">65.000 euro</td>
                        </tr>
                        <tr>
                            <td data-th-text="Bicikliváz"></td>
                            <td>5.000 euro</td>
                            <td>10.000 euro</td>
                            <td>19.000 euro</td>
                            <td class="tdstyle">34.000 euro</td>
                        </tr>
                        <tr>
                            <td data-th-text="Lemezradiátor"></td>
                            <td>8.000 euro</td>
                            <td>13.000 euro</td>
                            <td>23.000 euro</td>
                            <td class="tdstyle">44.000 euro</td>
                        </tr>
                        <tr>
                            <td data-th-text="Vaskapu"></td>
                            <td>9.000 euro</td>
                            <td>15.000 euro</td>
                            <td>25.000 euro</td>
                            <td class="tdstyle">49.000 euro</td>
                        </tr>
                </tr>

            </table>

        </div>
            <canvas id="myChart" style="width:100%;max-width:600px;color:white"></canvas>
        </div>

        </div>
    </div>
</div>

<script>
    Chart.defaults.global.defaultFontColor = "#000000";
    var xValues = ["Motorblok", "Vaskapu", "Lemezradiátor", "Bicikliváz"];
    var yValues = [65, 49, 44, 34];
    var barColors = ["red", "green","blue","orange"];

    new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: {display: false},
            title: {
                display: true,
                text: "Revenue figures"
            }
        }
    });
</script>

<script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Contry', 'Mhl'],
            ['Lemezradiátor',1500],
            ['Vaskapu',750],
            ['Bicikliváz',500],
            ['Motorblokk',450]
        ]);

        var options = {
            title:'Product sales percentage distribution',
            is3D:true
        };

        var chart = new google.visualization.PieChart(document.getElementById('circleChart'));
        chart.draw(data, options);
    }
</script>

</body>
</html>