<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Net salary list</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .form {gap: 0}
        label {margin-bottom: 10px; margin-top: 25px}
        .send_button { margin-top: 25px}
    </style>

</head>
<body>
<header>
    <h2 data-th-text="${page}"></h2>
</header>
<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>
    <div class="right">
<table>

    <tr>
        <th>Tax number</th>
        <th>Name</th>
        <th>Year</th>
        <th>Month</th>
        <th>Net salary</th>
    </tr>

    <tr data-th-each="m : ${monthlyDataList}">
        <td data-th-text="${m.employee.taxNumber}"></td>
        <td data-th-text="${m.employee.name}"></td>
        <td data-th-text="${m.year}"></td>
        <td data-th-text="${m.month}"></td>
        <td data-th-text="${#numbers.formatInteger(m.getNetSalary,3,'WHITESPACE') + ' Ft '}"></td>

    </tr>

</table>


</form>



</body>
</html>