<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Net salary list</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .form {gap: 0}
        label {margin-bottom: 10px; margin-top: 25px}
        .send_button { margin-top: 25px}
    </style>

</head>
<body>
<header>
    <h2 data-th-text="${page}"></h2>
</header>
<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>
    <div class="right">

</table>
        <table>
        <form data-th-action="@{/netsalary}" data-th-object="${form}" method="post">
<tr>
    <h2>Search</h2>
</tr>
                <tr>
                    <th>Search by name:</th>
                    <td><input type="text" data-th-field="*{name}" /></td>
                </tr>

                <tr>
                    <th>Search by year:</th>
                    <td><select class="form-handler" data-th-name="year">
                        <option data-th-each="year: ${years}"
                                data-th-value="${year}"
                                data-th-text="${year}">
                        </option>
                    </select></td>
                </tr>
                <tr>
                    <th>Search by month:</th>
                    <td><select class="form-handler" data-th-name="month">
                        <option data-th-each="month: ${months}"
                                data-th-value="${month}"
                                data-th-text="${month}">
                        </option>
                    </select></td>
                </tr>

                <tr>
                    <td colspan="2"><button type="submit">Search</button></td>
                </tr>

        </form>
</table>

        <p></p>


<table>
 <tr>
     <h2>List of net salaries</h2>
 </tr>
    <tr>
        <th>Tax number</th>
        <th>Name</th>
        <th>Year</th>
        <th>Month</th>
        <th>Net salary</th>
    </tr>

    <tr data-th-each="m : ${monthlyDataList}">
        <td data-th-text="${m.employee.taxNumber}"></td>
        <td data-th-text="${m.employee.name}"></td>
        <td data-th-text="${m.year}"></td>
        <td data-th-text="${m.month}"></td>
        <td data-th-text="${#numbers.formatInteger(m.getNetSalary,3,'WHITESPACE') + ' Ft '}"></td>

    </tr>

</table>

        <a data-th-href="@{/payroll}"> <button  class="send_button">
            Back to payroll
        </button> </a>

    </div>
</div>
</div>

</body>
</html>