<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>January payroll</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .form {gap: 0}
        label {margin-bottom: 10px; margin-top: 25px}
        .send_button { margin-top: 25px}
    </style>

</head>
<body>
<header>
    <div th:replace="~{fragments/navigation :: navigation}"></div>
</header>
<form class="form" form data-th-action="@{/netsalary/}" method="post" data-th-object="${netsalary}">

    <table>

        <tr>
            <th>Tax number</th>
            <th>Name</th>
            <th>Working days</th>
            <th>Paid leave</th>
            <th>Sick leave</th>
            <th>Illness benefit</th>

        </tr>

        <tr>
            <td ><a data-th-text="${oneEmployee.taxNumber}" data-th-href="@{/actualnetsalary/{taxnumber}(taxnumber=${oneEmployee.taxNumber})}"></a></td>
            <td data-th-text="${oneEmployee.name}"></td>





</tr>

</table>


</form>



</body>
</html>