<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New employee</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .form {gap: 0}
        label {margin-bottom: 10px; margin-top: 25px}
        .send_button { margin-top: 25px}
    </style>
</head>
<body>
<header>
    <h2>Save new employee</h2>
    <h2 data-th-text="${page}"></h2>
</header>

<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>
    <div class="right">
    <div class="form">

        <div class="divE">
        <form class="form" data-th-action="@{/newemployee}" data-th-object="${employee}" method="post">
            <table tyle="table-layout: fixed; word-wrap: break-word; overflow-wrap: break-word;">
            <tr>
                <th><label for="taxNumber">Tax number</label></th>
                <td><input id="taxNumber" placeholder="taxNumber" type="number" data-th-field="*{taxNumber}" autofocus required autocomplete="off"></td>
            </tr>
            <tr>
                <th><label for="name">Name</label></th>
                <td><input id="name" placeholder="name" type="text" data-th-field="*{name}" required></td>
            </tr>
            <tr>
                <th><label for="maidenName">Maiden name</label></th>
                <td><input id="maidenName" placeholder="maidenName" type="text" data-th-field="*{maidenName}" required autocomplete="off"></td>
            </tr>
            <tr>
                <th><label for="socialSecurityNumber">Social security number</label></th>
                <td><input id="socialSecurityNumber" placeholder="socialSecurityNumber" type="number" data-th-field="*{socialSecurityNumber}" required autocomplete="off"></td>
            </tr>
            <tr>
                <th><label for="placeOfBirth">Place of birth</label></th>
                <td><input id="placeOfBirth" placeholder="placeOfBirth" type="text" data-th-field="*{placeOfBirth}" required autocomplete="off"></td>
            </tr>
            <tr>
                <th><label for="dateOfBirth">Date of birth</label></th>
                <td><input id="dateOfBirth" placeholder="dateOfBirth" type="date" data-th-field="*{dateOfBirth}" required autocomplete="off"></td>
            </tr>
            <tr>
                <th><label for="motherName">Mother's name</label></th>
                <td><input  id="motherName" placeholder="motherName" type="text" data-th-field="*{motherName}" required autocomplete="off"></td>
            </tr>
            <tr>
                <th><label for="address">Address</label></th>
                <td><input id="address" placeholder="address" type="text" data-th-field="*{address}" required autocomplete="off"></td>
            </tr>
            <tr>
                <th><label for="personnelGroup">Personnel group</label></th>
                <td><input  id="personnelGroup" placeholder="personnelGroup" type="text" data-th-field="*{personnelGroup}" required autocomplete="off"></td>
            </tr>
            <tr>
                <th><label for="startOfEmployment">Start of employment</label></th>
                <td><input id="startOfEmployment" placeholder="startOfEmployment" type="date" data-th-field="*{startOfEmployment}" required autocomplete="off"></td>
            </tr>
            <tr>
                <th><label for="HSCO">HSCO</label></th>
                <td><input id="HSCO" placeholder="HSCO" type="text" data-th-field="*{HSCO}" required autocomplete="off"></td>
            </tr>
            <tr>
                <th><label for="workingHours">Working hours</label></th>
                <td><input id="workingHours" placeholder="workingHours" type="text" data-th-field="*{workingHours}" required autocomplete="off"></td>
            </tr>
            <tr>
                <th><label for="grossSalary">Gross salary</label></th>
                <td><input id="grossSalary" placeholder="grossSalary" type="text" data-th-field="*{grossSalary}" required autocomplete="off"></td>
            </tr>
            </table>
            <button class="send_button" type="submit">Save</button>
        </form>
        </div>
        <a data-th-href="@{/employees}"><button class="send_button">Back to Employees</button></a>
    </div>
    </div>
</div>
</body>
</html>