<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title data-th-text="'Add new ' + ${productName}"></title>
  <link rel="stylesheet" href="/style.css">
  <style>
    .form {gap: 0}
    label {margin-bottom: 10px; margin-top: 25px}
    .send_button { margin-top: 25px}
  </style>
</head>
<body>
  <header>
    <h2 data-th-text="'Create new ' + ${productName}"></h2>
    <h2 data-th-text="${page}"></h2>
  </header>

  <div class="row">
    <div class="vertical-menu">
      <div class="left">
        <div th:replace="~{fragments/navigation :: navigation}"></div>
      </div>
    </div>
    <div class="right">

      <div class="form">

        <form class="form" data-th-action="@{/newproducedproduct}" data-th-object="${producedProduct}" method="post">
          <label for="name">Name</label>
          <input id="name" placeholder="name" type="text" data-th-field="*{name}" autofocus required/>
          <button type="submit" class="send_button">Create</button>
        </form>
      </div>
      <a data-th-href="@{/producedproducts}"><button class="send_button">Back to ProducedProducts</button></a>
    </div>
  </div>

</body>
</html>