<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title data-th-text="'Add new ' + ${productName}"></title>
  <link rel="stylesheet" href="/style.css">
  <style>
    .form {gap: 0}
    label {margin-bottom: 10px; margin-top: 25px}
    .send_button { margin-top: 25px}
  </style>
</head>
<body>
  <header>
    <h2 data-th-text="'Create new ' + ${productName}"></h2>
  </header>

  <div class="row">
    <div class="vertical-menu">
      <div class="left">
        <div th:replace="~{fragments/navigation :: navigation}"></div>
      </div>
    </div>
    <div class="right">
      <div class="form">
        <form class="form" data-th-action="@{/newbomlist}" data-th-object="${bomlist}" method="post">
          <table>
            <tr>
              <th><label for="name">Name</label></th>
              <td><input id="name" placeholder="name" type="text" data-th-field="*{name}" autofocus required/></td>
            </tr>
            <tr>
              <th><label for="description">Description</label></th>
              <td><textarea id="description" data-th-field="*{description}" required></textarea></td>
            </tr>
            <tr>
              <th><label for="producedproduct">Produced product</label></th>
              <td><select id="producedproduct" name="productId" required>
                  <option data-th-each="product: ${producedProducts}"
                         data-th-value="${product.id}"
                          data-th-text="${product.name}">
                  </option>
                  </select></td>
            </tr>
          </table>
          <button class="send_button">Create</button>
        </form>
        <a data-th-href="@{/bomlists}"><button class="send_button">Back to Bomlists</button></a>
      </div>
    </div>
  </div>
</body>
</html>