<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title data-th-text="'Add new ' + ${productName}"></title>
  <link rel="stylesheet" href="/style.css">
  <style>
    .form {gap: 0}
    label {margin-bottom: 10px; margin-top: 25px}
    .send_button { margin-top: 25px}
  </style>
</head>
<body>
  <header>
    <h2 data-th-text="'Create new ' + ${productName}"></h2>
    <h2 data-th-text="${page}"></h2>
  </header>

  <div class="row">
    <div class="vertical-menu">
      <div class="left">
        <div th:replace="~{fragments/navigation :: navigation}"></div>
      </div>
    </div>
    <div class="right">
      <div class="form">
        <form class="form" data-th-action="@{/newingredient}" data-th-object="${ingredient}" method="post">
        <table>
          <tr>
            <th><label for="name">Name</label></th>
            <td><input id="name" placeholder="name" type="text" data-th-field="*{name}" autofocus required/></td>
          </tr>
          <tr>
            <th><label for="unit">Unit</label></th>
            <td><input id="unit" placeholder="unit" type="text" data-th-field="*{unit}" required/></td>
          </tr>
          <tr>
            <th><label for="description">Description</label></th>
            <td><textarea id="description" placeholder="description" rows="4" cols="50" data-th-field="*{description}" required></textarea></td>
          </tr>
        </table>
          <button class="send_button">Create</button>
        </form>
        <a data-th-href="@{/ingredients}"><button class="send_button">Back to ingredients</button></a>
      </div>

    </div>
  </div>

</body>
</html>