<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New supplier</title>
  <link rel="stylesheet" href="/style.css">
  <style>
    .form {gap: 0}
    label {margin-bottom: 10px; margin-top: 25px}
    .send_button { margin-top: 25px}
  </style>
</head>
<body>
<header>
  <h2>Save new supplier</h2>
  <h2 data-th-text="${page}"></h2>
</header>

<div class="row">
  <div class="vertical-menu">
    <div class="left">
      <div th:replace="~{fragments/navigation :: navigation}"></div>
    </div>
  </div>
  <div class="right">
    <div class="form">
      <div class="divE">
        <form class="form" data-th-action="@{/newsupplier}" data-th-object="${partner}" method="post">
          <table style="table-layout: fixed; word-wrap: break-word; overflow-wrap: break-word;">
            <tr>
              <th><label for="partnerName">Partner name</label></th>
              <td><input id="partnerName" placeholder="name" type="text" data-th-field="*{partnerName}" required></td>
            </tr>
            <tr>
              <td style="display: none">
                <label for="partnerType">Partner type</label>
                <select id="partnerType" data-th-name="partnerType">
                  <option data-th-each="partnert: ${partnerType}"
                          data-th-value="${partnert}"
                          data-th-text="${partnert}">
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <th><label for="address">Address</label></th>
              <td><input id="address" placeholder="address" type="text" data-th-field="*{address}" required autocomplete="off"></td>
            </tr>
            <tr>
              <th><label for="contactName">Contact name</label></th>
              <td><input id="contactName" placeholder="contactName" type="text" data-th-field="*{contactName}" required autocomplete="off"></td>
            </tr>
            <tr>
              <th><label for="email">Email</label></th>
              <td><input id="email" placeholder="email" type="text" data-th-field="*{email}" required autocomplete="off"></td>
            </tr>
            <tr>
              <th><label for="phoneNumber">Phone number</label></th>
              <td><input id="phoneNumber" placeholder="phoneNumber" type="text" data-th-field="*{phoneNumber}" required autocomplete="off"></td>
            </tr>
          </table>
          <button class="send_button" type="submit">SAVE</button>
        </form>
      </div>
      <a data-th-href="@{/suppliers}"><button class="send_button">BACK TO SUPPLIERS</button></a>
    </div>
  </div>
</div>
</body>
</html>