<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Partner page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div th:replace="~{fragments/navigation :: navigation}"></div>
    </header>
    <h1 data-th-text="${page}"></h1>
    <table>
        <tr>
            <th>Partner Name</th>
            <th>Address</th>
            <th>Contact Name</th>
            <th>Email</th>
            <th>Phone number</th>
        </tr>
        <tr data-th-each="partner: ${partners}">
            <td data-th-text="${partner.partnerName}"></td>
            <td data-th-text="${partner.address}"></td>
            <td data-th-text="${partner.contactName}"></td>
            <td data-th-text="${partner.email}"></td>
            <td data-th-text="${partner.phoneNumber}"></td>
        </tr>
    </table>
</body>
</html>