<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payroll</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<p>January payroll</p>

<table style="table-layout: fixed; word-wrap: break-word; overflow-wrap: break-word;">
    <tr>
        <th>Tax Number</th>
        <th>Name</th>
        <th>Gross salary</th>
        <th>Net salary</th>
    </tr>


    <tr data-th-each="e : ${employees}">
        <td data-th-text="${e.taxNumber}"></td>
        <td data-th-text="${e.name}"></td>
        <td data-th-text="${e.grossSalary}"></td>
        <td data-th-text="${e.setNetSalary(e.grossSalary)}"></td>
    </tr>
</table>
</body>
</html>