<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payroll</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h2>Employee data sheet</h2>
    <h2 data-th-text="${page}"></h2>
</header>
<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>
    <div class="right">

<table style="table-layout: fixed; word-wrap: break-word; overflow-wrap: break-word;">
  <tr>
    <th>Tax Number</th>
    <th>Name</th>
  </tr>

  <tr data-th-each="e : ${employees}">
    <td ><a data-th-text="${e.taxNumber}" data-th-href="@{/actualnetsalary/{taxnumber}(taxnumber=${e.taxNumber})}"></a></td>
    <td data-th-text="${e.name}"></td>

  </tr>
</table>
        <button class="send_button">
            <a data-th-href="@{/payroll}">Back to Payroll</a>
        </button>
        <button class="send_button">
            <a data-th-href="@{/netsalary}">Show net salary list</a>
        </button>

    </div>
</div>
</body>
</html>