<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<!--<form data-th-action="@{/rawmaterials}" method="post" data-th-object="${newShip}">
    <table>
        <tr>
            <select data-th-field="*{spaceShipClass}">
                <option data-th-each="shipClass : ${shipClasses}"
                        data-th-value="${shipClass}"
                        data-th-text="${shipClass}">
                </option>
            </select>
        </tr>
        <tr>
            <input type="text" data-th-field="*{name}" placeholder="Name">
        </tr>
        <tr>
            <input type="checkbox" data-th-field="*{active}">
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Keresés</button></td>
        </tr>
    </table>
</form>-->
<p>Products page</p>
</body>
</html>