<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<p data-th-text="${page}"></p>
<!--<form data-th-action="@{/rawmaterials}" method="post" data-th-object="${newShip}">
    <table>
        <tr>
            <select data-th-field="*{spaceShipClass}">
                <option data-th-each="shipClass : ${shipClasses}"
                        data-th-value="${shipClass}"
                        data-th-text="${shipClass}">
                </option>
            </select>
        </tr>
        <tr>
            <input type="text" data-th-field="*{name}" placeholder="Name">
        </tr>
        <tr>
            <input type="checkbox" data-th-field="*{active}">
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Keresés</button></td>
        </tr>
    </table>
</form>-->

<table>
    <tr>
        <th>Name</th>
        <th>SN</th>
        <th>Unit price</th>
        <th>Description</th>

    </tr>
    <tr data-th-each="product: ${products}">
        <td data-th-text="${product.name}"></td>
        <td data-th-text="${product.serialNumber}"></td>
        <td data-th-text="${product.unitPrice}"></td>
        <td data-th-text="${product.description}"></td>
    </tr>
</table>

</body>
</html>