<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produced products page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h2 data-th-text="${page}"></h2>
    </header>

    <div class="row">
        <div class="vertical-menu">
            <div class="left">
                <div th:replace="~{fragments/navigation :: navigation}"></div>
            </div>
        </div>
        <div class="right">

            <form data-th-action="@{/producedproducts}" data-th-object="${form}" method="post">
                <table>
                    <tr>
                        <h2>Search</h2>
                    </tr>
                    <tr>
                        <th>Search by product name:</th>
                        <td><input type="text" data-th-field="*{name}" /></td>
                    </tr>
                    <tr>
                        <th>Search by BOMList name:</th>
                        <td><input type="text" data-th-field="*{bomList}" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit">Search</button></td>
                    </tr>
                </table>
            </form>

            <table>
                <tr>
                    <h2>List of produced products</h2>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Bomlist name</th>
                </tr>
                <tr data-th-each="producedProduct: ${producedProducts}">
                    <td data-th-text="${producedProduct.name}"></td>
                    <td data-th-if="${producedProduct.bomList} != null" data-th-text="${producedProduct.bomList.name}"></td>
                </tr>
            </table>
            <button class="send_button">
                <a data-th-href="@{/newproducedproduct}">NEW Produced Product</a></button>
        </div>
    </div>



</body>
</html>