<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Raw material page</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h2 data-th-text="${page}"></h2>
  </header>

  <div class="row">
    <div class="vertical-menu">
      <div class="left">
        <div th:replace="~{fragments/navigation :: navigation}"></div>
      </div>
    </div>
    <div class="right">

      <form data-th-action="@{/rawmaterials}" data-th-object="${form}" method="post">
        <table>
          <tr>
            <th>Search by name:</th>
            <td><input type="text" data-th-field="*{ingredient}" /></td>
          </tr>
          <tr>
            <th>Search by SARZS Number:</th>
            <td><input type="text" data-th-field="*{SARZSNumber}" /></td>
          </tr>
          <tr>
            <th>Search by shippingIn date:</th>
            <td><input type="date" data-th-field="*{shippingIn}" /></td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">Search</button></td>
          </tr>
        </table>
      </form>

      <table>
        <tr>
          <th>Ingredient</th>
          <th>SARZS Number</th>
          <th>Shipping date</th>
          <th>Unit price</th>
          <th>Quantity</th>
          <th>Warehouse</th>
        </tr>
        <tr data-th-each="rawMaterial: ${rawMaterials}">
          <td data-th-text="${rawMaterial.ingredient.name}"></td>
          <td data-th-text="${rawMaterial.SARZSNumber}"></td>
          <td data-th-text="${rawMaterial.shippingIn.localDate}"></td>
          <td data-th-text="${rawMaterial.unitPrice}"></td>
          <td data-th-text="${rawMaterial.quantity}"></td>
          <td data-th-text="${rawMaterial.warehouse}"></td>
        </tr>
      </table>
    </div>
  </div>

</body>
</html>