<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <h2 data-th-text="'Register user account for ' + ${employee.name}"></h2>

    </header>

    <div class="row">
        <div class="vertical-menu">
            <div class="left">
                <div th:replace="~{fragments/navigation :: navigation}"></div>
            </div>
        </div>

        <div class="right">

        <div class="form">
            <table>
            <form class="form" data-th-action="@{/register}" method="post" data-th-object="${user}">

                    <tr>
                        <th><label for="username">Username</label></th>
                        <td><input id="username" type="text" data-th-field="*{username}" placeholder="username"><a data-th-if="${employee.user} != null" data-th-text="' ' + ${employee.user.username}"></a></td>
                    </tr>
                    <tr>
                        <th><label for="password">Password</label></th>
                        <td><input id="password" type="password" data-th-field="*{password}" placeholder="password"></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" data-th-value="${employee.taxNumber}" name="taxnumber"></td>
                    </tr>
                    <tr>
                        <th><label for="position">Position</label></th>
                        <td><select id="position" name="position">
                            <option data-th-each="positionOpt : ${T(hu.progmatic.company_management_system.models.Position).values()}"
                                    data-th-value="${positionOpt}" data-th-text="${positionOpt}"></option>
                        </select>
                            <a data-th-if="${employee.personnelTask} != null" data-th-text="' ' + ${employee.personnelTask}"></a>
                        </td>
                    </tr>
                    <tr>

                        <td><input class="send_button" type="submit" value="Modify"></td>
                    </tr>

            </form>
            <td><a data-th-href="@{/useroptions}"><button class="send_button">back</button></a></td>
            </table>
        </div>

        </div>

    </div>


</body>

</html>