<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <h2 data-th-text="${page}"></h2>
    </header>

    <div class="row">
        <div class="vertical-menu">
            <div class="left">
                <div th:replace="~{fragments/navigation :: navigation}"></div>
            </div>
        </div>
        <div class="right">

           <!-- <li sec:authorize="isAuthenticated()">
                <a data-th-href="@{/logout}">Logout</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a data-th-href="@{/login}">Login</a>
            </li>-->

        <div class="form">
            <h1>New user</h1>
            <form class="form" data-th-action="@{/register}" method="post" data-th-object="${user}">
                <input type="text" data-th-field="*{username}" placeholder="username">
                <input type="password" data-th-field="*{password}" placeholder="password">
                <select name="position">
                    <option data-th-each="positionOpt : ${T(hu.progmatic.company_management_system.models.Position).values()}"
                    data-th-value="${positionOpt}" data-th-text="${positionOpt}"></option>
                </select>
                <select data-th-field="*{admin}">
                    <option data-th-value="1" >true</option>
                    <option data-th-value="0" >false</option>
                </select>
                <input class="send_button" type="submit" value="Send">
            </form>
        </div>
        </div>
    </div>

</body>

</html>