<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shipping Ins page</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1 data-th-text="${page}"></h1>


<form data-th-action="@{/shippingins}" data-th-object="${form}" method="post">
  <table>
    <tr>
      <th>Search by Seller name:</th>
      <td><input type="text" data-th-field="*{seller}" /></td>
    </tr>
    <tr>
      <th>Search by rawMaterial:</th>
      <td><input type="text" data-th-field="*{rawMaterialName}" /></td>
    </tr>
    <tr>
      <th>Search by Date:</th>
      <td><input type="date" data-th-field="*{localDate}" /></td>
    </tr>
    <tr>
      <td colspan="2"><button type="submit">Search</button></td>
    </tr>
  </table>
</form>

<table>
  <tr>
    <th>Seller</th>
    <th>Date</th>
    <th>Raw materials</th>
  </tr>
  <tr data-th-each="shippingIn: ${shippingIns}">
      <td data-th-text="${shippingIn.seller.partnerName}"></td>
      <td data-th-text="${shippingIn.localDate}"></td>
      <td><ul data-th-each="raws: ${shippingIn.rawMaterials}">
      <li data-th-text="${raws.ingredient.name}"></li>
      <li data-th-text="${raws.quantity}"></li>
      <li data-th-text="${raws.ingredient.unit}"></li>
      </ul></td>
  </tr>
</table>

</body>
</html>