<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shipping Ins page</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h2 data-th-text="${page}"></h2>
    </header>

    <div class="row">
        <div class="vertical-menu">
            <div class="left">
                <div th:replace="~{fragments/navigation :: navigation}"></div>
            </div>
        </div>
        <div class="right">

            <form data-th-action="@{/shippingins}" data-th-object="${form}" method="post">
              <table>
                  <tr>
                      <h2>Search</h2>
                  </tr>
                <tr>
                  <th>Search by Seller name:</th>
                  <td><input type="text" data-th-field="*{seller}" /></td>
                </tr>
                <tr>
                  <th>Search by rawMaterial:</th>
                  <td><input type="text" data-th-field="*{rawMaterialName}" /></td>
                </tr>
                <tr>
                  <th>Search by Date:</th>
                  <td><input type="date" data-th-field="*{localDate}" /></td>
                </tr>
                <tr>
                  <td colspan="2"><button type="submit">Search</button></td>
                </tr>
              </table>
            </form>

            <table>
                <tr>
                    <h2>List of shipping ins</h2>
                </tr>
              <tr>
                <th>Seller</th>
                <th>Date</th>
                <th>Raw materials</th>
              </tr>
              <tr data-th-each="shippingIn: ${shippingIns}">
                  <td data-th-text="${shippingIn.seller.partnerName}"></td>
                  <td data-th-text="${shippingIn.localDate}"></td>
                  <td><ul data-th-each="raws: ${shippingIn.rawMaterials}">
                  <li data-th-text="${raws.ingredient.name}"></li>
                  <li data-th-text="${raws.quantity}"></li>
                  <li data-th-text="${raws.ingredient.unit}"></li>
                  </ul></td>
              </tr>
            </table>
            <button class="send_button">
                <a data-th-href="@{/newshippingin}">Create new Shipping in</a>
            </button>
        </div>
    </div>

</body>
</html>