<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h2 data-th-text="${page}"></h2>
</header>
<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>
    <div class="right">

<form data-th-action="@{/transfer}"  method="post">
<table>
    <tr>
        <th>Rawmaterial SARZSNumber</th>
        <th>Rawmaterial Quantity</th>
        <th>Warehouse from</th>
        <th>Warehouse to</th>
    </tr>
<td>
    <select class="form-control" data-th-name="sarzsN">
        <option data-th-each="rawmaterial: ${rawMaterials}"
                data-th-value="${rawmaterial.SARZSNumber}"
                data-th-text="${rawmaterial.SARZSNumber}">
        </option>
</td>
<td>
    <input type="number" data-th-text="quantity" name="quantity" required/>
</td>
<td>
    <select class="form-control" data-th-name="warehouseout">
        <option data-th-each="warehouse: ${warehouses}"
                data-th-value="${warehouse}"
                data-th-text="${warehouse}">
        </option>
    </select>
</td>
    <td>
    <select class="form-control" data-th-name="warehousein">
        <option data-th-each="warehouse: ${warehouses}"
                data-th-value="${warehouse}"
                data-th-text="${warehouse}">
        </option>
    </select>
</td>
    <tr>
        <td colspan="2"><button type="submit">Transfer</button></td>
    </tr>

</table>
</form>
    </div>
</div>

</body>
</html>