<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div th:replace="~{fragments/navigation :: navigation}"></div>
</header>
<li sec:authorize="isAuthenticated()">
    <a data-th-href="@{/logout}">Logout</a>
</li>
<li sec:authorize="!isAuthenticated()">
    <a data-th-href="@{/login}">Login</a>
</li>
<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Task</th>
    </tr>
    <tr data-th-each="user: ${users}">
        <td data-th-text="${user.id}"></td>
        <td data-th-text="${user.username}"></td>
        <td data-th-text="${user.password}"></td>
        <td data-th-text="${user.task}"></td>
    </tr>
</table>

</body>
</html>