<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warehouses page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h2>Warehouses</h2>
</header>

<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>
    <div class="right">
<!--<h1 data-th-text="${page}"></h1>-->
<form data-th-action="@{/warehouses}"  method="post">
    <table>
        <tr>
            <th>Warehouses</th>
        </tr>
        <tr>
            <td>
                <select class="form-control" data-th-name="warehouse">
                    <option data-th-each="warehouse: ${warehouses}"
                            data-th-value="${warehouse}"
                            data-th-text="${warehouse}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td><button type="submit">Send</button></td>
        </tr>
    </table>
</form>
<h1> </h1>
<table>
    <tr>
        <th>Name</th>
        <th>SARZSNumber</th>
        <th>unitPrice</th>
        <th>quantity</th>
    </tr>
    <tr data-th-each="rawMaterial: ${rawMaterials}">
        <td data-th-text="${rawMaterial.ingredient.name}"></td>
        <td data-th-text="${rawMaterial.SARZSNumber}"></td>
        <td data-th-text="${rawMaterial.unitPrice}"></td>
        <td data-th-text="${rawMaterial.quantity}"></td>
    </tr>
</table>
    </div>
</div>

</body>
</html>