<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<header>
    <h2 data-th-text="Workstation"></h2>
</header>

<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>
    <div class="right">
        <h2 data-th-if="${bomlist} != null" data-th-text="${bomlist.name}"></h2>
        <p data-th-if="${bomlist} != null" data-th-text="${bomlist.description}"></p>

            <h3 data-th-text="'Alapanyagok felhasználása'"></h3>

        <form data-th-action="@{/rm_workstation/{id}(id=${bomlist.id})}" method="post">
            <table>
                <tr data-th-if="${rawmaterial} != null">
                    <th>Current Raw material</th>
                    <td data-th-text="${rawmaterial.ingredient.name}"></td>
                </tr>
                <tr>
                    <th><label for="rawmaterials">Raw materials</label></th>
                    <td>
                        <select id="rawmaterials" name="rm_id" required>
                            <option data-th-each="rm: ${rawmaterials}"
                                    data-th-value="${rm.id}"
                                    data-th-text="${rm.ingredient.name}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr data-th-if="${rawmaterial} != null">
                    <th>Current quantity</th>
                    <td data-th-text="${rawmaterial.quantity}"></td>
                </tr>
                <tr>
                    <th><label for="quantity">Quantity</label></th>
                    <td><input id="quantity" type="number" value="1" name="quantity" required /></td>
                </tr>
            </table>

            <div data-th-if="${rawmaterial} != null">
                <h4 data-th-text="${rm_success} == true? 'SUCCESS!' : 'NOT ENOUGH MATERIAL!' "></h4>
            </div>

            <button class="send_button" type="submit">Use</button>
        </form>

            <h3 data-th-text="${producedProduct.name} + ' elkészítése'"></h3>

        <form data-th-action="@{/ep_workstation/{id}(id=${bomlist.id})}" data-th-object="${endproduct}" method="post">
            <table>
                <tr>
                    <th><label for="serialNumber">Serial Number</label></th>
                </tr>
                <tr>
                    <td><input type="number" placeholder="Serial number" id="serialNumber" data-th-field="*{serialNumber}" required/></td>
                </tr>
            </table>

            <label for="ep_quantity"></label>
            <input id="ep_quantity" type="hidden" value="1" name="quantity" />

            <h4 data-th-if="${ep_success} == true">SUCCESS!</h4>
            <h4 data-th-if="${ep_success} == false">ERROR!</h4>

            <button type="submit" class="send_button" style="float: right">Finish</button>
        </form>

    </div>
</div>
</body>
</html>