<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<header>
    <h2 data-th-text="Workstation"></h2>
</header>

<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>
    <div class="right">
    <h2 data-th-if="${bomlist} != null" data-th-text="${bomlist.name}"></h2>
    <p data-th-if="${bomlist} != null" data-th-text="${bomlist.description}"></p>

    <form data-th-action="@{/rm_workstation/{id}(id=${bomlist.id})}" method="post">
        <label for="rawmaterials">Raw materials</label>
        <select id="rawmaterials" name="rm_id">
            <option data-th-each="rm: ${rawmaterials}"
                    data-th-value="${rm.id}"
                    data-th-text="${rm.ingredient.name}">
            </option>
        </select>
        <label for="quantity"></label>
        <input id="quantity" type="number" value="1" name="quantity" required />
        <button type="submit">Use</button>
    </form>

    <p data-th-if="${rm_success} == true">SUCCESS!</p>
    <p data-th-if="${rm_success} == false">NOT ENOUGH MATERIAL!</p>

    <p data-th-if="${rawmaterial} != null" data-th-text="'Rawmaterial = ' +  ${rawmaterial.ingredient.name}"></p>
    <p data-th-if="${rawmaterial} != null" data-th-text="'Current quantity = ' + ${rawmaterial.quantity}"></p>

    <form data-th-action="@{/ep_workstation/{id}(id=${bomlist.id})}" method="post">
        <label for="endproducts">Endproducts</label>
        <select id="endproducts" name="ep_id">
            <option data-th-each="ep: ${endproducts}"
                    data-th-value="${ep.id}"
                    data-th-text="${ep.producedProduct.name}">
            </option>
        </select>
        <label for="ep_quantity"></label>
        <input id="ep_quantity" type="number" value="1" name="quantity" required />
        <button type="submit">Add</button>
    </form>

    <p data-th-if="${ep_success} == true">SUCCESS!</p>
    <p data-th-if="${ep_success} == false">ERROR!</p>
    </div>
</div>
</body>
</html>