<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<header>
    <h2 data-th-text="Workstation"></h2>
</header>

<div class="row">
    <div class="vertical-menu">
        <div class="left">
            <div th:replace="~{fragments/navigation :: navigation}"></div>
        </div>
    </div>
    <div class="right">
        <h1>BOM lists</h1>

        <ul>
            <div data-th-each="bl : ${bomlists}">
                <a class="box1" data-th-href="@{/workstation/{id}(id=${bl.id})}" data-th-text="${bl.name}"></a>
            </div>
        </ul>

  <!--<script th:inline="javascript">
      /*<![CDATA[*/
      function showDescription() {
          var bomlists = /*[[${bomlists}]]*/ 'null';
          var selectedIndex = $("#bomlists option:selected").index();
          var boml = bomlists[selectedIndex];
          $("#mySelection").text(boml.description);
      }
      $(function() { showDescription(); });
      /*]]>*/
  </script>-->
    </div>
</div>
</body>
</html>